<title>Tech news today</title>

<img src="NewsLogo.png" alt="Company logo">
<h1 class="siteName">Tech news daily</h1>

<ul class="linksBar">
  <li><a href="index.html">Latest news</a></li>
  <li><a href="weather.html">Weather</a></li>
  <li><a href="liveRadio.html">Live radio</a></li>
  <li><a href="about.html">About</a></li>

  <button onclick="darkMode()">Switch to dark mode</button>
</ul>

<hr>
<div class="barra-buscar">
  <input type="search" [(ngModel)]="filtro" placeholder="Escriba para filtrar...">
  <!-- <button class="btn btn-success" onclick="buscar()">Buscar</button> -->
</div>
<span>Busqueda de {{filtro}}</span>

<div>
  @for(item of articulosFiltrados();track item.titulo){

<app-articulo [p_item]="item"></app-articulo>

<!-- 
  <article>
    <div class="articleImg">
      <img src="{{item.imagen}}" alt="Article thumbnail picture">
    </div>
  </article>
  <header>
    <h1>{{item.titulo}}</h1>
    <p>{{item.autor}}</p>
  </header>
  <p>{{item.texto}}</p>
  <br>
  <br>
  <a href="{{item.link}}">Click here to read more....</a>
  <hr> -->
  }

</div>